@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(135deg, #4602ff 10%, #f14ce4 100%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Open Sans", sans-serif;
    color: #333333;
}

#form {
  text-align: center;
  margin-top: 30px;

}

.form {
  width: 50%;
  padding: 10px;
  margin-top: 25px;
  font-size: 16px;
  border: none;
  outline: none;
  border-bottom: 2px solid #B0B3B9;
}

#submit {
  width: auto;
  color: #fff;
  font-size: 16px;
  padding: 12px 35px;
  border-radius: 50px;
  display: inline-block;
  border: 0;
  outline: 0;
  box-shadow: 0px 4px 20px 0px #49c628a6;
  background-image: linear-gradient(135deg, #70F570 10%, #49C628 100%);
}

#jobCard {
  border: 1px solid white;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 20px;
  color: white;
  height: 300px;
}

#title {
  font-size: 30px;
  font-weight: bolder;
}

#company {
  font-size: 23px;
  font-weight: bold;
}

#Location {
  font-size: 15px;
  font-weight: normal;
}

#description {
  font-size: 15px;
  font-weight: lighter;
  margin-bottom: 20px;
}

#jobCardButtons {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 1px solid white;
  width: 60%;
  padding: 20px;
}


#viewJob {
  font-weight: bold;
  color: white;
  margin: 20px;
  padding: 5px;
  border: 1px solid white;
  border-radius: 5px;
}

#prevJob {
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;
  background-color: white;
}

#nextJob {
  padding: 5px;
  font-weight: bold;
  border-radius: 5px;

}
